@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes arrowPulse {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .animate-arrow {
    animation: arrowPulse 1s infinite;
  }
  
  .hover-scale:hover {
    animation: scaleUp 0.3s ease-in-out forwards;
  }

  
  :root {
    --color-primary: #6fbbb1;
    --color-secondary: #ECEFF1;
    --color-accent: #FFFFFF;
    --color-textPrimary: #333333;
    --color-textHover: #37474F;
    --color-buttonHover: #3C6F66;
    --color-secondaryButtonHover: #B0BEC5;
    --color-darkerPrimary: #249a88;
    --color-darkerSecondary: #455A64;
    --color-navbar: rgba(111, 187, 177, 0.9)
}

.dark {
    --color-primary: #249a88;
    --color-secondary: #455A64;
    --color-accent: #37474F;
    --color-textPrimary: #ECEFF1;
    --color-textHover: #CFD8DC;
    --color-buttonHover: #5FA99A;
    --color-secondaryButtonHover: #607D8B;
    --color-darkerPrimary: #6fbbb1;
    --color-darkerSecondary: #ECEFF1;
    --color-navbar: rgba(36, 154, 136, 0.9)
}